.cor-interface .color-circle {
  width: 15px;
  height: 15px;
  margin: 5px;
}

.cor-interface {
  .select-option-magic_mint .alert-radio-label {
    color: #bcf6cdff;
  }
  .select-option-carolina_blue .alert-radio-label {
    color: #2e9bd6ff;
  }
  .select-option-sheen_green .alert-radio-label {
    color: #a9e029ff;
  }
  .select-option-emerald .alert-radio-label {
    color: #21d989ff;
  }
  .select-option-medium_champagne .alert-radio-label {
    color: #fcf6b1ff;
  }
  .select-option-honey_yellow .alert-radio-label {
    color: #f7b32bff;
  }
  .select-option-dark_orange .alert-radio-label {
    color: #ff8800ff;
  }
  .select-option-red_ryb .alert-radio-label {
    color: #f72c25ff;
  }
  .select-option-pink_lavander .alert-radio-label {
    color: #eac4e7ff;
  }
  .select-option-steel_pink .alert-radio-label {
    color: #b91bc8ff;
  }
}
